<launch>
  <arg name="launch_gui" default="true" />
  <node pkg="naoqi_dashboard" type="naoqi_dashboard" name="naoqi_dashboard" output="screen" required="true" if="$(arg launch_gui)"/>
  <node pkg="diagnostic_common_diagnostics" type="tf_monitor.py" name="tf_monitor" respawn="true" />
  <node pkg="diagnostic_aggregator" type="aggregator_node" name="naoqi_dashboard_aggregator" respawn="true" clear_params="true">
    <rosparam command="load" file="$(find naoqi_dashboard)/config/naoqi_dashboard_aggregator.yaml" />
  </node>
</launch>
